* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.App {
  position: relative;
  min-height: 100vh;
}

.contentWrap {
  padding-bottom: 20rem;
}

.color-nav {
  background-color: #e6eed6;
  color: #a72608 !important;
}

@media (max-width: 768px) {
  .contentWrap {
    padding-bottom: 47rem;
  }
}
